body{
    background-color: #153147;
}


footer{
  text-align: center;
  padding: 3px;
  background-color: #CBA694;
  color: #153147;
  font-size: 4vw ;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

ul.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CBA694;
    min-width: 390px;
}
li.nav {
    float: left;
    font-size: 4vw ;
    text-align: center;
   
    
}

  
  
li.nav a {
    display: block;
    color: #153147;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  
li.nav a:hover {
    background-color: #111;
  }

  li.active{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:#111 ;
  }

  .background{
   justify-content: center;
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    flex: 200px;
    background-color: #CBA694;
    color: #153147;
    box-shadow: 5px 10px #888888;
    width: 250px;
  }
  img{
    float: left;
    max-width: 250px;
    vertical-align: middle;
    
  }
  section {
    justify-content: center;
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    flex: 200px;
    background-color: #CBA694;
    color: #153147;
    align-content: center;
    width: 250px;
    
  }
ol li {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
size: 100px;
margin-bottom: 15px;
list-style-type: upper-alpha
}

#bioList{
list-style-type: square;
size: 100px;
margin-bottom: 15px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  